<a href="https://colab.research.google.com/github/rajachekuri/pymodbus/blob/main/python_practice_on_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/Salaries.csv')

In [7]:
df.head(3)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515

In [9]:
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [8]:
df.size

468

In [10]:
df.shape

(78, 6)

In [11]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [12]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [13]:
df.axes

[RangeIndex(start=0, stop=78, step=1),
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [3]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [4]:
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [5]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [6]:
df.mean(50)

ValueError: ignored

In [7]:
df1 = df.iloc[:50]

In [8]:
df1.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [9]:
df.head(2)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000

In [10]:
df.shape()

TypeError: ignored

In [11]:
df.shape

(78, 6)

In [12]:
df.head(50).mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [15]:
df.iloc[:50].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [16]:
df_phd = df[['phd']]

In [17]:
df_phd.describe()

             phd
count  78.000000
mean   19.705128
std    12.498425
min     1.000000
25%    10.250000
50%    18.500000
75%    27.750000
max    56.000000

In [18]:
df_phd.count()

phd    78
dtype: int64

In [19]:
df_phd.mean()

phd    19.705128
dtype: float64

In [20]:
df.shape

(78, 6)

In [21]:
df[['phd']].describe()

             phd
count  78.000000
mean   19.705128
std    12.498425
min     1.000000
25%    10.250000
50%    18.500000
75%    27.750000
max    56.000000

In [25]:
df.phd.mean()

19.705128205128204

In [24]:
df[['phd']].mean()

phd    19.705128
dtype: float64

In [26]:
df.head(2)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000

In [27]:
df.rank

<bound method NDFrame.rank of          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]>

In [28]:
df['rank']

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [29]:
df.iloc[[1,2],[1,3]]

  discipline  service
1          A        6
2          A       20

In [30]:
df.iloc[[],[1,3]]

Empty DataFrame
Columns: [discipline, service]
Index: []

In [31]:
df.iloc[:,1:3]

   discipline  phd
0           B   56
1           A   12
2           A   23
3           A   40
4           B   20
..        ...  ...
73          B   18
74          B   19
75          B   17
76          A   28
77          A   23

[78 rows x 2 columns]

In [ ]:
df.iloc[:,1:3]

In [ ]:
df[['phd','salary']].agg(['mean','std'])

In [ ]:
df.skew()

In [ ]:
df.kurt()

In [ ]:
df[['phd','salary']].skew()